body {
  height: 100%;
  overflow: hidden;
}
/* Overall container */
.container {
  width: 400px;
  margin: 40px auto;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  height: 500px;
  overflow: hidden;
}
/* Header */
.header {
  padding: 10px;
  display: flex;
  background-color: #0084ff;
  border-radius: 6px 6px 0px 0px;
}
.header-info {
  margin-left: 16px;
}
.header-info .name {
  font-weight: bold;
  margin: 2px 0px 2px 0px;
}
.header-info .status {
  font-size: 12px;
  margin: 0;
  color: #dfe6fd;
}
.online-status {
  display: flex;
}
/* Chat area */
.chat-body {
  padding: 10px;
  overflow-y: auto;
  height: calc(500px - 70px);
}
.chat-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.message{
  display: flex;
  justify-content: flex-start;
  margin: 10px 0px;
  gap: 5px;
}
.message p {
    margin-left: 10px;
}
/* Time styling */
.time {
  font-size: 10px;
  color: rgb(242, 232, 232);
  margin-left: 5px;
  padding-right: 8px;
}
.ptime {
  font-size: 10px;
  color: black;
  margin: 0px 4px 0px 4px;
}

.text {
    background-color: #0084ff;
    border-radius: 0px 8px 8px 8px;
}
.ptext {
    background-color: #d9e8ed;
    border-radius: 8px 0px 8px 8px;
}

.time-separator{
  background-color: #d9e8ed;
  border-radius: 8px;
  width:fit-content;
  padding: 6px;
}



