.div1{
   height:calc(20vh + 10px);
   width:calc(50% - 10px);
   border:1px solid red;
}
.div2{
    height:min(800px,700px,900px);
    border:1px solid black;
}
.div3{
    height:max(50vh,30vh,200px);
    border:1px solid green;
}
.div4{
    height:clamp(100px,50px,75px);
     border:1px solid orange;
}