body{
    margin: 0px;
    /* display: flex ; */
}
.box-container{
    height:500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
   height:500px;
  
}

.box1{
    background-color: blue;
    flex-grow: 2;
}
.box2{
    background-color: red;
    flex-grow: 1;
}
.box3{
    background-color: blueviolet;
    flex-grow: 0;
}