*{
    box-sizing: border-box;
}
body{
    margin:0;
        display: flex;
    justify-content: center;
}

.page-container{
    height: 100vh;
    width:600px;
    display: flex;
    flex-direction: column;
}
.page-navbar{
    background-color: aqua;
}
.page-footer{
    background-color: aqua;
}
.page-body{
    display: flex;
    overflow-y: auto;
}
.sidebar{
    width: 150px;
    background-color: beige;
    flex-shrink: 0;
}
.content{
    overflow-y: auto;
    background-color: rgb(180, 176, 176);

}