.box1{
    background-color:red;
    position:relative;
    left:10px;
}
.box2{
    background-color:aliceblue;
    position:fixed;
    top:0px;
    right:0px;
    width: 200px;
    height: 200px;
}

.box3{
    background-color: aqua;
    position:absolute;
    top:0px;
    right:10px;
}

.box4{
    position:sticky;
     padding: 5px;
     top:0px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;

}