.btn{
    background-color: orange;
    width:100px;
    height:50px;
    padding:10px;
    margin:10px;

}
.btn1{
    display: inline-block;
}
.btn2{
    display: inline-block;
}
.btn3{
    display: inline-block;
}
/* It can work with both inline and inline-block */